<%- include('partials/default_template.ejs'); %>
<div class="content">
  <div class="container-fluid">
    <div class="card card-nav-tabs text-center">
        <div class="card-header card-header-primary">
            <h2>
                Account
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 card" style="width: 15rem;">
                        <ul class="list-group list-group-flush"> <h3>User Profile</h3>
                          <li class="list-group-item">Name</li>
                          <li class="list-group-item">Age</li>
                          <li class="list-group-item">Account Type</li>
                        </ul>
                </div>
                
                <div class="col-md-6 card" style="width: 15rem;">
                        <ul class="list-group list-group-flush"> <h3>Purchase History</h3>
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                          <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                </div>
                  
            </div>
        </div>
        <div class="card-footer text-muted">
          Change Password
        </div>
      </div>
  </div>
</div>
<%- include('partials/footer.ejs'); %>
</div> <!--Closing div-->
</body>
</html>