<%- include('partials/default_template.ejs'); %>
<div class="content">
  <div class="container-fluid">
    <div class = "content-body shadow-lg p-3 mb-5 bg-white rounded table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
              <tr>
                <!-- scope="col"  -->
                <th >User</th>
                <th >Date</th>
                <th >Subtotal</th>
                <th >Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><i class="fas fa-info-circle"></i></td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs'); %>
</div> <!--Closing div-->
</body>
</html>