.content-body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.user-col {
    width: 10%;
}

.date-col{
    width: 60%;
}

.subtotal-col, .add-col {
    width: 10%;
}

.details-col, .edit-col, .remove-col{
    width: 5%;
}

.title-col {
    width: 80%;
}

.add-product-title-col {
    width:50%;
}


.detail-icon {
    text-align: center;
}

.product-col {
    width: 30%;
}
