.content-body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.user-col {
    width: 10%;
}

.date-col{
    width: 60%;
}

.subtotal-col, .add-col {
    width: 10%;
}

.details-col, .edit-col, .remove-col{
    width: 5%;
}

.title-col {
    width: 80%;
}

.add-product-title-col {
    width:50%;
}

.show-product-title-col {
    width:20%;
}

.show-desc-col{
    width:30%;
}


.detail-icon {
    text-align: center;
}

.product-col {
    width: 30%;
}

.proceed{
    width: 40%;
}

.qty-input{
    width: 50%;
}

.cart-col {
    max-height: 500px;
    /* overflow-y: scroll; */
}

.cart-container {
    height: 250px;
    max-height: 250px;
    overflow-y: scroll;
}